.bold-legal {
  font-weight: bold;
}

.legal-container {
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.contents-legal {
  float: left;
  position: fixed;
}

.body-legal {
  float: right;
}
