<button type="button" class="btn filled-gradient-btn" data-toggle="modal" data-target="#basicModal">Sign up for free!</button>
<button type="submit" class="btn outlined-gradient-btn js-modal-btn" data-video-id="249214479">VUI Video</button>
