<footer class="page-footer">
          <div class="container-fluid grey-footer">
            <div class="container">
              <div class="row">
                <div class="col-xs-6">
                  <span class="social">
                    <a href="https://www.instagram.com/vui_inc/" class="social-link" target="_blank">
                      <i class="social-link fa fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/VUI-Inc-1748998088463748/" class="social-link" target="_blank">
                      <i class="social-link fa fa-facebook"></i>
                    </a>
                      <a href="https://twitter.com/VUI_inc" class="social-link" target="_blank">
                        <i class="social-link fa fa-twitter"></i>
                      </a>
                      <a href="https://www.linkedin.com/company/vui-inc/" class="social-link" target="_blank">
                        <i class="social-link fa fa-linkedin"></i>
                      </a>
                  </span>
                  <div class="blurbs">
                    <p class="footer-legal">VUI&trade; - Voice-First Experiences.</p>
                    <p class="footer-legal">&copy; 2018 VUI, Inc. All Rights Reserved.</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="footer-right">
                    <ul class="footer-links">
                      <li><a href="/about" class="footer-link">About</a></li>
                      <li><a href="https://www.linkedin.com/company/vui-inc/" target="_blank" class="footer-link">Opportunities</a></li>
                      <li><a href="https://blog.vui.com" class="footer-link">Blog</a></li>
                      <li><a href="/legal" class="footer-link">Legal</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
</footer>
