<div class="container omni-digital">
  <h1 class="text-center">Omni-Digital Voice</h1>
  <div class="row">
    <div class="col-sm-4 omni-digital-grid">
      <img src="./help-me-button.svg" alt="">
      <div class="feature-name"> Help Me Button</div>
      <p class="feature-description">I'm a really good feature. That's why we want to talk about it.</p>
    </div>
    <div class="col-sm-4 omni-digital-grid">
      <img src="./voice-concierge.svg" alt="">
      <div class="feature-name"> Voice Concierge</div>
      <p class="feature-description">I'm a really good feature. That's why we want to talk about it.</p>
    </div>
    <div class="col-sm-4 omni-digital-grid">
      <img src="./smart-call-routing" alt="">
      <div class="feature-name"> Smart Call Routing</div>
      <p class="feature-description">I'm a really good feature. That's why we want to talk about it.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 omni-digital-grid">
      <img src="scaleable-customer-care" alt="">
      <div class="feature-name"> Scalealbe Customer Care</div>
      <p class="feature-description">I'm a really good feature. That's why we want to talk about it.</p>
    </div>
    <div class="col-sm-4 omni-digital-grid">
      <img src="./real-time-analytics" alt="">
      <div class="feature-name"> Real Time Analytics</div>
      <p class="feature-description">I'm a really good feature. That's why we want to talk about it.</p>
    </div>
    <div class="col-sm-4 omni-digital-grid">
      <img src="./monitor-your-budget" alt="">
      <div class="feature-name"> Monitor Your Budget</div>
      <p class="feature-description">I'm a really good feature. That's why we want to talk about it.</p>
    </div>
  </div>
</div>
