<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/devices.css">
    <% title="VUI - Platform" %>
    <%- include ./components/head.ejs %>
    <script src="./js/platform.js" type="text/javascript" charset="utf-8" defer></script>
  </head>
  <body class="container-fluid">
  <%include ./components/header.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <hr class="bar">
        <h1 class="headline">VUI Platform</h1>
        <h3 class="tagline">The Vui Platform delivers a seamless customer experience</h3>
        <% include ./components/buttons.ejs %>
        </div>
        <div class="col-sm-7">
          <img class="platform-image" src="./platform.png" alt="">
        </div>
    </div>
  </div>
  <img class='divider' src='./img/divider.svg'>
  <div class="main-platform">
    <h1 class="headline text-center">Platform</h1>
    <div class="rectangle filled-gradient-btn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis veritatis excepturi, rem odio, error fuga velit, omnis voluptatem tempore distinctio totam. Molestiae aut odio, debitis ipsa nobis accusamus atque.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia deserunt quaerat, tempore sequi accusamus nulla optio minima minus maiores unde autem harum, quam. Vitae quo saepe, maiores molestiae illo minus.</div>
  </div>
  <div class="flex-container">

      <div class="col-lg-4 col-md-8 outliner">
        <img class="card-icon" src="./nlp.svg">
        <h3 class="feature-card-title">Natural Language <br>Processing</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur atque molestiae vitae veniam laborum, porro minima itaque saepe officia inventore a explicabo praesentium tempora numquam omnis, facilis, maiores obcaecati quidem?</div>

      <div class="col-lg-4 col-md-8 outliner">
        <img class="card-icon" src="./machine-learning.svg">
        <h3 class="feature-card-title">Machine Learning/<br>AI</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto ullam nihil odio, distinctio, maxime quas blanditiis ut aut culpa alias vero. Dolorum iste distinctio obcaecati ipsa facere, reiciendis, quam consectetur? loremm?
      </div>

      <div class="col-lg-4 col-md-8 outliner">
        <img class="card-icon" src="./any-device.svg">
        <h3 class="feature-card-title">Any Device</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur architecto pariatur omnis facilis fugit soluta odit expedita, delectus esse vero, quis obcaecati blanditiis numquam porro reprehenderit ab ipsum deserunt, sequi.</div>
      <div class="col-lg-4 col-md-8 outliner">
        <img class="card-icon" src="./cloud.svg">
        <h3 class="feature-card-title">Cloud</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita minus voluptatem ad inventore molestiae autem voluptatibus natus, porro, consequuntur voluptate aperiam, nostrum corporis error dicta veritatis dolorem praesentium quas saepe.</div>

      <div class="col-lg-4 col-md-8 outliner">
        <img class="card-icon" src="./analytics.svg">
        <h3 class="feature-card-title">Analytics</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quod nesciunt reiciendis, cumque nobis excepturi dolor ipsa accusamus. Dicta sunt, similique facilis provident ullam vel ipsum nostrum deserunt maiores molestiae.</div>
      <div class="col-lg-4 col-md-8 outliner">
        <img class="card-icon" src="./integration.svg">
        <h3 class="feature-card-title">Integration</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident facere, et velit. Quo repellat quas perferendis, harum nisi itaque consequuntur enim modi, doloremque. Vero possimus, laboriosam harum. Atque, cupiditate, sequi.</div>
  </div>
  <svg width="100%" height="153px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.402">
          <g id="HD-Platform" transform="translate(0.000000, -859.000000)" stroke="#AAB6C7" stroke-width="2">
              <path d="M-126.660366,858.547773 C-126.568031,861.838912 173.504676,838.824589 886.363698,968.513005 C1599.22272,1098.20142 1928.92942,885.039408 1928.92942,885.039408" id="Path_263-Copy-8"></path>
          </g>
      </g>
    </svg>
    <svg width="100%" height="139px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
      <defs>
          <linearGradient x1="-18.0259828%" y1="100%" x2="115.511351%" y2="50%" id="linearGradient-1">
              <stop stop-color="#0070F8" offset="0%"></stop>
              <stop stop-color="#00EBEE" offset="100%"></stop>
          </linearGradient>
          <path d="M-43.4416664,942.41761 C-43.4110167,943.78766 -24.3225704,933.299913 28.7442277,922.701844 C135.546443,901.372174 379.97991,879.595637 883.679224,953.139407 C1927.34603,1105.52236 2078.63519,905.321846 2078.63519,905.321846" id="path-2"></path>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="HD-Platform" transform="translate(0.000000, -897.000000)">
              <g id="Path_263-Copy-6">
                  <use fill="black" fill-opacity="1" filter="url(#filter-3)" xlink:href="#path-2"></use>
                  <use stroke="url(#linearGradient-1)" stroke-width="2" xlink:href="#path-2"></use>
              </g>
          </g>
      </g>
    </svg>
    <% include ./components/footer.ejs %>
  </body>
</html>
